
            <div class="contact">
                <nav>
                    <a href="mailto:metugates@gmail.com">Bize ulaşın</a>
                    <a href="https://www.facebook.com/metugates">Facebook</a>
                    <a href="https://twitter.com/metugates">Twitter</a>
                    <a href="https://www.instagram.com/metugates/">Instagram</a>
                </nav>
                <span>METU GATES <%= (new Date()).getUTCFullYear() %></span>
            </div>

        </div>
    </body>
</html>
