<div class="introduction">
    <span class="intro-title">
        ODTÜ Oyun Geliştirme ve Animasyon Topluluğu
    </span>
    <p>
        Selamlar, biz ODTÜ Oyun Geliştirme ve Animasyon Topluluğu (veya METU GATES) oyun geliştirme ve animasyonun tüm alt disiplinlerini bir araya getirmeyi amaçlayan bir öğrenci topluluğuyuz. (oyun programlama, dijital sanatlar, hikaye anlatımı, müzik, pazarlama vb.) ODTÜ Kültür İşleri'ne resmi bir topluluk olmak için başvurusunu yapmış olup 2018 yazından beri çeşitli eğitimler ve projelerle aktif faaliyet göstermektedir.
    </p>
    <p>
        Topluluğumuzun temel üç amacı:
    </p>
    <ul>
        <li>ODTÜ içerisinde profesyonel/yarı profesyonel oyun geliştirme ve animasyonun alt disiplinlerinde çalışan öğrencileri bir çatı altında toplayıp yardımlaşma, bilgi/proje paylaşımını arttırmak.</li>
        <li>Bu konularda meraklı öğrencilere yol gösterebilmek ve bilgi aktarımı sağlamak.</li>
        <li>Üreterek, oyun geliştirmeye ve animasyon yapımına olan ilgiyi arttırmak.</li>
    </ul>
    <p>
        Eğer siz de bu alanlarda üretim yapıyorsanız, yapmak istiyorsanız gelin birlikte çalışalım!
    </p>
</div>
