<% include ./partials/header.ejs %>
<div class="about">
    <div class="about-content">
        <h2>ODTÜ Oyun Geliştirme ve Animasyon Topluluğu</h2>
        <h3>Hakkımızda</h3>
        <p>Biz, Oyun ve Animasyon Teknolojileri Topluluğu, 2018 yılında faaliyete geçmiş bulunmaktayız. Danışman hocamız Prof. Kürşat Çağıltay'dır. Topluluğumuz oyun ve animasyon alanında disiplinler arası iletişimi sağlama ve geliştirmeyi misyon edinmektedir. </p>
        <h3>Hedefler</h3>
        <ul>
            <li>
                    ODTÜ içerisinde profesyonel/yarı profesyonel oyun geliştirme ve animasyonun alt disiplinlerinde çalışan öğrencileri bir çatı altında toplayıp yardımlaşma, bilgi/proje paylaşımını arttırmak
            </li>
            <li>
                İnsanlara Oyun ve Animasyon Teknolojileriyle ilgili bilgi vermek ve bilinçlendirmek 
            </li>
            <li>
                İnsanları Oyun, Animasyon ve ilgili alt dallarla ilgili sorularını cevaplayıp yönlendirmek. 
            </li>
            <li>
                Üyelerimize takım çalışması bilincini aşılamak 
            </li>
            <li>
                Oyun ve animasyon teknolojileriyle ilgili düzenli etkinlikler düzenlemek ve insanları yarışmalara teşvik etmek.
            </li>
        </ul>
    </div>
</div>
<% include ./partials/footer.ejs %>
