<% include ./partials/header.ejs %>
<div class="carousel">
    <h1 class="carousel-title" >METU GATES</h1>
    <h3 class="carousel-subtext">ODTÜ'nün en interaktif topluluğu!</h3>
    <a href="https://facebook.com/metugates" target="_blank" rel="noopener noreferrer" class="carousel-button">Bize katıl!</a>
</div>
<div class="sections">
    <div class="introduction section">
        <div class="section-inner">
            <span class="intro-title">
                ODTÜ Oyun Geliştirme ve Animasyon Topluluğu
            </span>
            <p>
                Selamlar, biz ODTÜ Oyun Geliştirme ve Animasyon Topluluğu (veya METU GATES) oyun geliştirme ve animasyonun tüm alt disiplinlerini bir araya getirmeyi amaçlayan bir öğrenci topluluğuyuz.
            </p>
        </div>
    </div>
    <div class="game-programming section">
        <div class="section-inner">
            <span class="section-title">
                Oyun Programlama
            </span>
            <p>
                Oyun mekanikleri, oynanış, oyun motorları vb. şeylerle ilgilenir.
            </p>
        </div>
    </div>
    <div class="digital-arts section">
        <div class="section-inner">
            <span class="section-title">
                Dijital Sanatlar
            </span>
            <p>
                Animasyon, arayüz tasarımı, çizim vb. şeylerle ilgilenir.
            </p>
        </div>
    </div>
    <div class="music-audio section">
        <div class="section-inner">
            <span class="section-title">
                Müzik ve Ses Efektleri
            </span>
            <p>
                Hem oyun hem de animasyonlar için çok önemli bir element olan müzik ve ses efeklerinin yapımı, düzenlenmesi vb. ile ilgilenir.
            </p>
        </div>
    </div>
    <div class="storytelling section">
        <div class="section-inner">
            <span class="section-title">
                Hikaye Anlatımı
            </span>
            <p>
                Oyunlar için en önemli parçalardan olan hikaye anlatımı ile ilgilenir.
            </p>
        </div>
    </div>
    <div class="marketing section">
        <div class="section-inner">
            <span class="section-title">
                Pazarlama
            </span>
            <p>
                Çıkarılan ürünün kullanıcılara ilgi çekici bir şekilde sunulması ile ilgilenir.
            </p>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
