<% include ./partials/header.ejs %>
<div class="intro-page">
  <div class="intro-content">
    <span class="intro-page-title">
      Hakkımızda
    </span>
    <p class="infotext" >
      Biz, Oyun ve Animasyon Teknolojileri Topluluğu, 2018 yılında faaliyete geçmiş bulunmaktayız. Danışman Hocamız Prof. Kürşat Çağıltay olmakta olup, topluluk odamız GİSAM da yer almaktadır. Topluluğumuz disiplinler arası iletişimi sağlama ve geliştirmeyi misyon edinmektedir.
    </p>
    <p class="infotext">
      Topluluğumuzun temel amaçları:
    </p>
    <ul class="aimlist">
        <li>ODTÜ içerisinde profesyonel/yarı profesyonel oyun geliştirme ve animasyonun alt disiplinlerinde çalışan öğrencileri bir çatı altında toplayıp yardımlaşma, bilgi/proje paylaşımını arttırmak.</li>
        <li>Oyun ve animasyon teknolojileriyle ilgilenen insanlara yol göstermek.</li>
        <li>İnsanlara oyun ve animasyon teknolojileriyle ilgili bilgi vermek ve bilinçlendirmek.</li>
        <li>Üreterek, oyun geliştirmeye ve animasyon yapımına olan ilgiyi arttırmak.</li>
        <li>Üyelerimize takım çalışması bilincini aşılamak.</li>
        <li>İnsanların oyun, animasyon ve ilgili alt dallarla ilgili sorularını cevaplayıp yönlendirmek.</li>
        <li>Oyun ve animasyon teknolojileriyle ilgili düzenli etkinlikler düzenlemek ve insanları yarışmalara teşvik etmek.</li>
    </ul>
    <p class="infotext">
        Eğer siz de bu alanlarda üretim yapıyorsanız veya yapmak istiyorsanız gelin birlikte çalışalım!
    </p>
  </div>
</div>
<% include ./partials/footer.ejs %>
