body {
    background: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.innerBody {
    margin: auto;
    background: #222;
    min-height: 400px;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.7);

}

@media only screen and (max-width: 767px) {
    .innerBody {
        width: 96%;
        margin-top: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .innerBody {
        width: 72%;
        margin-top: 24px;
    }
}


/* header start */

.header {
    line-height: 60px;
    background: #333;
    height: 60px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    height: 60px;
    width: 90%;

}

.header a {
    margin: 0px;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    color: rgb(177,156,100);
    letter-spacing: 0.5px;
    font-size: 1.1em;
}



.logo {
    height: 60px;
    display: inline;
    margin: 0px;
}

.navlinks a {
  margin-left: 20px;
  float: right;
}

nav a {
    display: inline;
}


/* header end */

/* carousel start */
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    background: hsl(182,30%,100%);
    text-align: left;
    padding: 0 10vw 0 10vw;
    background-image: url("/img/hearthstone.jpg");
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("/img/hearthstone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

}


.carousel-title {
    margin: 16px 0 0 0;
    font-size: 3em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.carousel-subtext {
    font-size: 1.6em;
    margin: 0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.carousel-button {
    padding: 12px;
    background: #666;
    color: #fff;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 16px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.carousel-button:hover {
    background: #555;
}

@media only screen and (min-width: 768px) {
    .carousel {
        height: 60vh;
    }
}
@media only screen and (max-width: 767px) {
    .carousel {
        height: 80vh;
    }
}

/* carousel end */

.sections {
    display: flex;
    flex-flow: row wrap;
}

.section
{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 5%;

    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1);
}

.section-title{
    font-size: 1.3em;
}

.section p{
    line-height: 1.4em;
}

.section-inner {
    background: rgba(0,0,0,0.3);
    padding: 8px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes focus {
    0% {
        background: rgba(0,0,0,0.3);
    }
    100% {
        background: rgba(0,0,0,0.7);

    }
}

.section-inner:hover {
    animation: focus .5s forwards;
}

@media only screen and (min-width: 768px) {
    .section {
        width: 50%;
        height: 60vh;

    }
}

@media only screen and (max-width: 767px) {
    .section {
        width: 100%;
        height: 80vh;
    }
}

/* intro start */
.introduction {
    color: #fff;

    background-image: url("/img/vr2.jpg");
    background-size: cover;
    background-position: 20% 3%;
    background-repeat: no-repeat;
}

.intro-title{
    font-size: 1.6em;
}


.game-programming {
    background-image: url("/img/game-code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.digital-arts {
    background-image: url("/img/graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.music-audio {
    background-image: url("/img/electronic-music.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    color: #fff;
}

.storytelling {
    background-image: url("/img/daktilo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #fff;
}

.marketing {
    background-image: url("/img/marketing-graph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    color: #fff;
}

/* intro end */

/* contact start */

.contact {
    color: rgb(177,156,100);
    height: 20vh;
    flex-wrap: row wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .contact nav {
        text-align: center;
        max-width: 80%;
    }
}

.contact nav a {
    font-size: 1.1em;
    color: rgb(177,156,100);
    text-decoration: none;
    margin: 16px;
    line-height: 32px;
}
.contact nav a:hover {
    color: rgb(177,156,100);
    text-decoration: none;
    margin: 16px;
    line-height: 32px;
}

/* contact end */

/* product start */

.product {
    min-height: 30vh;
    color: #fff;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .product {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .product-name {
        font-size: 1.4em;
    }
    .product-author {
        font-size: 1.4em;
    }
    .product-description {
        font-size: 1.2em;
    }
    .product-imageDiv {
        width: 100%;
    }
    .product-infoDiv {
        width: 92%;
    }
    .product-links {
        width: 90%;
    }
    .product-link {
        width: 45%;
    }
}
@media only screen and (min-width: 768px) {
    .product-imageDiv {
        width: 20%;
    }
    .product-infoDiv {
        width: 60%;
    }
    .product-name {
        font-size: 1.1em;
    }
    .product-author {
        font-size: 1.1em;
    }
    .product-description {
        font-size: 1em;
    }
    .product-links {
        width: 10%;
    }
    .product-link {
        width: 100%;
    }
}

.product:nth-child(2n+1) {
    background: #222;
}

.product:nth-child(2n) {
    background: #333;
}

.product-imageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-infoDiv {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.product-image {
    width: 100%;
    max-height: 90%;
}

.product-links {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.product-name {
    font-weight: bold;
}

.product-author {
    font-style: italic;
}

.product-description {
    font-weight: 400;
    font-style: normal;
}
/* product end */

/* intro-page start */

.intro-page{
  background: url('/img/arcade.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-content {
  color: #fff;
  padding: 16px;
  background: rgba(0,0,0,0.5);
}

.intro-page-title {
  font-size: 2em;
  font-weight: 800;
}

.infotext {
  font-size: 1.2em;
}

.aimlist {
  list-style-position: outside;
}




/* intro-page end */
